@import "~bootstrap/scss/mixins/gradients";
@import "src/styles/variables";
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  height: 60px;
  width: 100%;
  @include gradient-x(
    $first_header_linear_gradient_color,
    $second_header_linear_gradient_color
  );
}
