@import "src/styles/variables";
@import "src/styles/lib";
.CountryDetails {
  height: 100vh;
  background-color: white;
  padding: 20px 40px 0 40px;
  &__top {
    /*    margin: 20px 40px;*/
  }
  &__content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    @include tablet {
      flex-direction: column;
    }
  }
  &__details {
    margin-left: 100px;
    margin-top: 40px;
    font-weight: 200;
    display: flex;
    @include tablet {
      margin-left: 0;
    }

    @include desktop {
      flex-direction: column;
    }
  }
  &__details--right {
    margin-left: 10px;
    @include desktop {
      margin-left: 0;
    }
  }
  &__name {
    font-size: 44px;
    font-weight: 500;
  }
  h5 {
    margin-top: 10px;
  }
  h5 {
    span {
      font-weight: 400;
    }
  }
}
